h1{
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: underline;
}

p{
    text-align: center;
    background-color: thistle;
    border: 2px dotted black;
}

h2{
    text-align: right;
    background-color: slategrey;
    color: red;
    text-decoration: overline;
    line-height: 50px;
}